<nav class="navbar bg-body-tertiary py-1">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Logo o título -->
      <a class="navbar-brand" routerLink="/">INTRANET</a>
        <!-- Enlaces de texto e íconos -->
      <div class="d-flex align-items-center">
        <!-- Enlaces de texto -->
        <a class="nav-link me-3" href="#">
            <img src="../../../assets/iconos/telefono.png" alt="Teléfono" >
            +34 924 25 17 61
        </a>
        <a class="nav-link me-3" href="#">
            <img src="../../../assets/iconos/correo.png" alt="Correo" >
            guadalupe&#64;fundacionloyola.es
        </a>
        <!-- Íconos -->
        <a class="nav-link me-2" href="#">
            <img src="../../../assets/iconos/facebook.png" alt="Facebook" >
          </a>
        <a class="nav-link me-2" href="#">
            <img src="../../../assets/iconos/twitter.png" alt="X" >
        </a>
        <a class="nav-link me-2" href="#">
            <img src="../../../assets/iconos/youtube.png" alt="YouTube" >
        </a>
        <a class="nav-link me-2" href="#">
            <img src="../../../assets/iconos/instagram.png" alt="Instagram" >
        </a>
      </div>
    </div>
  </nav>
