<div class="d-flex align-items-center vh-100">
    <div class="container">
        <div class="row row-cols-2 g-4">
            <div class="col">
                <button class="btn btn-primary w-100 h-100"><h5>Centros</h5></button>
            </div>
            <div class="col">
                <button class="btn btn-primary w-100 h-100"><h5>Formaciones</h5></button>
            </div>
            <div class="col">
                <button class="btn btn-primary w-100 h-100"><h5>Año académico</h5></button>
            </div>
            <div class="col">
                <button class="btn btn-primary w-100 h-100"><h5>Educadores</h5></button>
            </div>
        </div>
    </div>
</div>